<h1>HOMEだよ</h1>
<h2><%= @article.title %></h2>
<h2><%= @article.content %></h2>
<p>👆が”MVC”って言われるやつ。<br>
データベースから情報を取り出して、HTML上に表示させるやり方</p>
<br><br>
<a href="./about">ABOUT</a>
<p>↑だと、URLが変わった時にうまく対応できないことがある。<br>
だから…</p>

<%= link_to 'About', about_path %>
<p>こうする！！</p>